.reg_customer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.reg_customer {
    margin-bottom: 79px;
}

.reg_customer h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
}

.list_customer {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin-bottom: 0;
}

.list_customer a {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    box-sizing: border-box;
    display: flex;
    padding: 16px 30px;
    justify-content: center;
}

.reg_customer a:hover,
.reg_customer a:hover path {
    border-color: #2196f3;
    fill: #2196f3;
}

.list_customer a:hover {
    border: 1px solid #2196f3;
    border-radius: 4px;
    border-radius: calc(2 * var(--borderWidth));
}

.list_customer a {
    --borderWidth: 3px;
    background: #ffffff;
    position: relative;
    border-radius: var(--borderWidth);
}