.footer {
    padding: 60px 0;
    background-color: #2f303a;
}

.footer-list {
    list-style-type: none;
    text-decoration: none;
}

.loc_address {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.logo2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.logo2 span {
    color: #2196f3;
}

.loc a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #FFFFFF;
    text-decoration: none;
}

.loc2 a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer_links {
    font-weight: 700;
    font-size: 14px;
    line-height: 45px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 12px;
    color: #ffffff;
}

.join_links {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    list-style-type: none;
    padding: 0;
}

.footer .container {
    display: flex;
    gap: 70px;
}

.join_links a {
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_links a:hover path {
    fill: #ffffff;
}

.join_links a:hover {
    background: #2196f3;
}

.footer_mail {
    padding: 12px;
    font-family: "Roboto";
    font-style: normal;
}

.footer_mail_title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer_form_mail {
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer_form_input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
}

.footer_form_btn {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    cursor: pointer;
}

.footer_form_btn i {
    width: 24px;
    height: 24px;
}