.team {
    color: #212121;
}

.team_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 94px;
    padding-bottom: 50px;
}

.team {
    background-color: #f5f4fa;
    margin-top: 94px;
}

.team-card {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}

.team-card:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate3d(2px, 5px, 15px);

}

.member {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.role {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.members {
    list-style-type: none;
    width: 1170px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 94px;
    perspective: 400px;
}

.block {
    object-fit: cover;
    height: 100%;
    width: 100%;
}