.container {
    width: 1140px;
    margin: 0 auto;
}

.img {
    width: 270px;
}

* .img2 {
    width: 100%;
    object-fit: cover;
    border-style: none;
}

*/ .type-of-work {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

hr {
    border: 1px solid #ececec;
    margin: 0;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: "Roboto";
    font-style: normal;
}